<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>animation</title>
</head>

<body>

</body>
<h2>
    Lorem ipsum dolor sit.

</h2>
<ul>
    <li>lorem4</li>
    <li>lorem5</li>
    <li>lorem6</li>
</ul>
<p>Lorem, ipsum dolor</p>
<span>hello user</span><span>hello user</span><span>hello user</span>
.

<!-- <main>
    <header>
        <h2>Well com To Course SASS <code>AsanCode.com</code></h2>
    </header>

    <section class="parent-1">

    </section>
    <section class="parent-2">

    </section>

</main> -->

</html>