<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Style.css">
    <title>Document</title>
</head>

<body>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <h2>Well Com my Sass Cource</h2>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    <p>Quod architecto sunt cum commodi, numquam recusandae.</p>
    <p>Magniab repudiandae doloremque consectetur possimusab repudiandae doloremque consectetur possimus ab repudiandae
        doloremque consectetur possimusab repudiandae doloremque consectetur possimus dolore.</p>
    <p>Magniab repudiandae doloremque consectetur possimusab repudiandae doloremque consectetur possimus ab repudiandae
        doloremque consectetur possimusab repudiandae doloremque consectetur possimus dolore.</p>

    <br>
    <button>Click me ...!</button>
</body>

</html>