<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>mixin</title>
</head>

<body>

</body>
<main>
    <header>
    </header>
    <section class="parent-1">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <p>Voluptates tempora temporibus cumque assumenda odit eius dolor.</p>
        <p>Praesentium dignissimos dolorem ut ea pariatur velit accusantium?</p>
        <article>
            <div class="box">

            </div>
            <button class="btn-primery">Please First Login </button>
        </article>
    </section>
    <section class="parent-2">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        <p>Voluptates tempora temporibus cumque assumenda odit eius dolor.</p>
        <p>Praesentium dignissimos dolorem ut ea pariatur velit accusantium?</p>
        <img src="/images/4.jpg">

        <article>
            <button class="btn-primery">Please First Login </button>
        </article>
    </section>
    <section>
        <article class="parent-3">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <p>Voluptates tempora temporibus cumque assumenda odit eius dolor.</p>
            <p>Praesentium dignissimos dolorem ut ea pariatur velit accusantium?</p>
            <button class="btn-primery">Please First Login </button>
        </article>
    </section>
</main>

</html>