/*
*************** 
Education Sass 👨🏽‍⚖️ with SourceCode 😉 
developer : Ahmad hadizadeh website 
Https: //Asancode.com
*************** 
*/



                  /*Start All variable*/
                  $myGray: #757577;
                  $names:"1";
                  $body-margin:90px;
                  $body-padding:80;
                  $base-font-family: Fira Code;
                  $base-color: #d8ffe3;
                  $body-margin: 80px;
                  $body-padding: 20px;
                  $h1-font-size: 20px;
                  $h2-font-size: 16px;
                  $h3-font-size: 15px;
                  $h4-font-size: 16px;
                  $h6-font-size: 13px;
                  $headings-color: #b5b5b5;
                  $base-min-width: 320px;
                  $base-font-size: 12px;
                  $img-width: 200px;
                  $img-height: 180px;
                  $top-or-bottom:16px;
                  $left-or-right:14px;
                  $imgaborder-rudus: 14px;
                  $btn-width: 60px;
                  $btn-color-border: #00e0d0;
                  $btn-bgcolor: #4d99fd;
                  $btn-radius: 6px solid #413b3b;
                  $btn-padding: 14px;
                  $lin-height-p: 29px;
                  $letr-sps: 2px;
                  $menu-margin: 1rem;
                  $section-margin: 10px;
                  $section-padding: 10px;
                  $li-padding: 12px;
                  $d-block: block;
                  $d-in-block: inline-block;
                  $color-hover: white;
                  $bgc-hover: #0878dacc;
                  $lik-activecolor: #680872;
                  $light-color: #dff0f2e9;
                  $dark-color:#2b2424dd;
                  $font-wight: 700;
                  $txt-center: center;
                  $borde-redus:5px dashed #8cfd12dd;
                  $box-shado:3px 6px 2px #120e0edd;
                  $input-border:3px solid #555655dd;
                  $input-padding:6px 14px;
                  $input-margin:4px 1px;
                  $input-f-border:2px solid #bb7ac0;
                  $skw: skew(-8deg);
                
                  /*End All variable*/
                                